#redtan {

    height:100px;
    width:100px;
    background-color:red;
    color:white;
    font-family: times new roman;
    font-style: bold;
    font-size:12pt;
    text-align:center;
    box-shadow: 10px 10px 5px gray;

}

.marginTopContainer {
    margin-top:50px;
}

h1 {
    color:green;
    box-shadow: 5px 5px 2px gray;
    margin-top:20px;
    margin-bottom:20px;
}